{% extends "travel/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Travel</h1>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>

    <div class="row mb-5">
            <div class="col-md-6 offset-md-3">
            <a href="{% url 'travel:post_new' %}" class="btn btn-primary btn-block">New Post</a>
        </div>
    </div>

    <div class="row">
        {% for post in post_list %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-muted">{{ post.created_at|date:"M. Y" }}</div>
                        <p class="card-text mb-auto">{{ post.content|truncatewords:10 }}</p>
                        <a href="{% url 'travel:post_detail' post.pk %}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% if post.photo %}
                          <img src="{{ post.photo.url }}" width="200" height="250" />
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}