{% extends "layout.html" %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
        <h1 class="jumbotron-heading">
            부산대학교 웹사이트 by Python/Django
        </h1>
        <p class="lead text-muted">
            Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">학교 소개</a>
        </p>
        </div>
    </section>

<div class="container">
    <div class="row">
        {% for 앱 in 앱_소개 %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <p class="card-text">
                            {{ 앱.설명 }}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ 앱.주소 }}" class="btn btn-sm btn-outline-secondary">
                                    보기
                                </a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

      </div>
    </div>
{% endblock %}