<!DOCTYPE html>
<html>
    <head>
        <title>PNU's Django</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="col-sm-12">
                <h1>Shop List</h1>

                <form action="" method="GET">
                    <input type="text" name="query" value="{{ query }}" placeholder="검색어를 입력해주세요." />
                    <input type="submit" value="검색" class="btn btn-primary" />
                </form>
                
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shop in shop_list %}
                            <tr>
                                <td>{{ shop.name }}</td>
                                <td>{{ shop.address }}</td>
                                <td>
                                    <a href="/shop/{{ shop.pk }}/edit/" class="btn btn-info btn-sm">
                                        수정
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <a href="/shop/new/" class="btn btn-primary">
                    New Shop
                </a>
            </div>
        </div>
    </body>
</html>
